    .ini {
        background-color: black;
        border-radius: 10px;
    }
    
    .aero {
        width: 100px;
    }
    
    .nav-link {
        color: white;
    }
    
    .container-md {
        background-color: lightgrey;
    }
    
    h1 {
        text-align: center;
        color: whitesmoke;
        margin: 5%;
    }
    
    h2 {
        color: whitesmoke;
        text-align: center;
        font-size: x-large;
    }
    
    .aero2 {
        display: flex;
        width: 102.7%;
        margin: -15px;
        height: auto;
        align-items: center;
        background-size: cover;
        background-position: center;
    }
    
    @media only screen and(max-width: 800px) {
        body {
            display: block;
            width: 100%;
        }
        p {
            text-align: center;
        }
        i {
            size: 100%;
        }
        video {
            width: 100%;
        }
    }
    
    .titulo2Clientes {
        color: antiquewhite;
        text-align: center;
    }
    
    .buttonRuta {
        color: white;
    }
    
    .productosRuta {
        color: antiquewhite;
        text-align: center;
    }